<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Where's Waldo</title>
</head>
<body>
  <div id="image-container">
    <img src="/photos/where-s-waldo-field-of-dwarves-58b18agb9zfd8zuz.webp" alt="Where’s Waldo - Field of Dwarves">
    <div id="square" class="border-4 border-solid border-rose-700 w-[35px] h-[45px]"></div>
  </div>
  
</body>
<script>
  
</script>
</html>

