<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Where's Waldo</title>
</head>
<body>
  <div id="redSquare" class="hidden border-4 border-solid border-rose-700 w-[35px] h-[45px] position: absolute"></div>
  <div id="greenSquare" class="hidden border-4 border-solid border-green-700 w-[35px] h-[45px] position: absolute"></div>
  <div id="image-container">
    <img src="/photos/where-s-waldo-field-of-dwarves-58b18agb9zfd8zuz.webp" id="fieldOfDwarves" alt="Where’s Waldo - Field of Dwarves">
  </div>

</body>
<script>
  // for every image console log the imgX img Y = position of mouse
  let images = document.getElementsByTagName('img');
  let length = images.length;

  let redSquare = document.getElementById('redSquare')
  let greenSquare = document.getElementById('greenSquare');

  let waldoPosition = [[846,29],[841,35],[851,37],[846,48]]

  function imageRange(array) {
    console.log(array[0], array[1], array[2], array[3]);
    for (let i = 0; i < length; i++) {
      images[i].onclick = function(e){
        let ratioX = e.target.naturalWidth / e.target.offsetWidth;
        let ratioY = e.target.naturalHeight / e.target.offsetHeight;

        let domX = e.x + window.pageXOffset - e.target.offsetLeft;
        let domY = e.y + window.pageYOffset - e.target.offsetTop;

        let imgX = Math.floor(domX * ratioX);
        let imgY = Math.floor(domY * ratioY);
        
        console.log("imgxy array", [imgX, imgY])
        console.log("waldo position", waldoPosition[1])
        // determine if clicked position is close within 4px to waldo's position
        if (waldoPosition.some(([x, y]) => Math.abs(x - imgX) <= 4 && Math.abs(y - imgY) <= 4)) {
          console.log("yay! you found Waldo");
          greenSquare.style.left = `${e.clientX - 15}px`;
          greenSquare.style.top = `${e.clientY - 15}px`;
          greenSquare.classList.remove('hidden');
          redSquare.classList.add('hidden');
        } else {
          console.log("ouch, keep trying!")
          redSquare.style.left = `${e.clientX - 15}px`;
          redSquare.style.top = `${e.clientY - 15}px`;
          redSquare.classList.remove('hidden');
          greenSquare.classList.add('hidden');
        }

      }
    }
  }
  imageRange(waldoPosition)

</script>
</html>

